{% extends "layout.html" %}
{% block title %}Stock{% endblock %}
{% block content %}
    <h2>Stock</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stock_items %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.quantity }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
